#Fundamentals to Python programming

In [91]:
# Variable

var = "This is a variable"
# variable = literal|value

type(var)

str

#Data Structures

##List

In [92]:
L = ["Hello", "World", 1, 2, 3]
P = [4, 5, 6]

# to access a value at an index
L[2]
L

['Hello', 'World', 1, 2, 3]

In [93]:
# OPERATIONS OF LIST

L.pop() # returns last value
L
# L.count() # returns
# L.sort()

L.append("Python") # insert a new value to list
L

L.extend(P) # merge 2 lists
L

L.remove("Python") # remove first or an element
L

L.insert(3,"Three") # insert an element at specific position
L

L.reverse # reverse the entire list
L

L.clear() # completely remove all the elements
L

[]

##Dictionaries

In [94]:
D = {"name":"Python", "age":25, "place":"America"}

# To access a particular value
D["place"]
D

D.get("place")
D

{'name': 'Python', 'age': 25, 'place': 'America'}

In [95]:
#OPERATIONS OF DICTIONARY

D.keys() #To access all the keys
D

D.values() #To access all the values
D

D.pop("age") #To delete a specific key:value pair
D

D.update({"name":"Python Programming"}) #To update specific key:value pair
D

D.popitem() #To pop last item
D

D.setdefault("newkey")
D

D.clear() #to empty dictionary

##Strings

In [96]:
string = "this is a string"

#Accessing Values
string[0]
string[-1]

'g'

In [97]:
#Slicing
string[8:]

string[5:9]

'is a'

In [98]:
string.capitalize() #To capitalize first letter

string.upper() #To convert whole string into capital letters

string.lower() #To convert whole string into small letters

string.isupper() #To check if string only contains capital letters

string.islower() #To check if string only contain small letters

string.isalnum() #To check if string contains alphabets and numbers

string.isalpha() #To check if string contains alphabets only

string.isdigit() #To check if string contains numbers only

string.index("s") #To get the index of a letter

string.replace("t","T") #To replace a letter in a string

string.strip() #To strip any blank space before or after string if any { lstrip, rstrip}

string.find("s") #To find index of a letter in a string

3

##Tuple

In [99]:
T = (1, 2, 3, 4, 5)
type(T)

tuple

##Sets

In [100]:
S = {1, 2, 3, 4, 5}
type(S)

set

In [101]:
Ns = {1, 2, 3, 4, 9, 0, 5}

In [102]:
S.intersection(Ns)
S.union(Ns)
S.difference(Ns)

Ns.issubset(S)

False

##Type Casting

In [103]:
set(T)

{1, 2, 3, 4, 5}

In [104]:
tuple(S)

(1, 2, 3, 4, 5)

In [105]:
list(tuple(S))

[1, 2, 3, 4, 5]

#Loops and Conditionals

##Conditionals

In [106]:
num = 20
if num < 0:
  print("Negative")
elif num == 0:
  print("Zero")
else:
  print("Positive")

Positive

In [107]:
if True:
  print("Inside If")
  if True:
    print("Nested if")
  else:
    print("Nested else")
else:
  print("Inside Else")

Inside If
Nested if

In [108]:
num = 30

if num%2 == 0 and num%5 == 0:
  print("Num is divisible by 2 and 5")
elif num%2 == 0 or num%5 == 0:
  print("Num is divisible by 2 or 5")

Num is divisible by 2 and 5

In [109]:
if num!=0:
  print("Not zero")

Not zero

##Loops

In [110]:
for i in range(5):
  print(i)

0
1
2
3
4

In [111]:
List = ["Hello", "welcome", "to", "the", "world", "of", "Python", "programming"]
for i in List:
  print(i)

Hello
welcome
to
the
world
of
Python
programming

In [112]:
i = 0
while i<3:
  print(i)
  i=i+1

0
1
2

##Program

In [113]:
for i in range(101):
  if i%10 == 0:
    print(i)

0
10
20
30
40
50
60
70
80
90
100

#Error Handling

In [114]:
for i in range(10):
  try:
    print(15/i)
  except ZeroDivisionError:
    print("Division by zero is infinity")

Division by zero is infinity
15.0
7.5
5.0
3.75
3.0
2.5
2.142857142857143
1.875
1.6666666666666667

In [115]:
List = ["Hello", "World", "Python", "Programming"]

for i in range(len(List)+1):
  try:
    print(List[i])
  except IndexError:
    print("Index out of range")

Hello
World
Python
Programming
Index out of range

In [116]:
# Standard Method

List = ["Hello", "World", "Python", "Programming"]

for i in range(len(List)+1):
  try:
    print(List[i])
  except Exception as e:
    print(e)

Hello
World
Python
Programming
list index out of range

In [117]:
List = ["Hello", "World", "Python", "Programming"]

for i in range(len(List)+1):
  try:
    print(List[i])
  except Exception as e:
    print(e)
  finally:
    print("Excecution completed")

Hello
Excecution completed
World
Excecution completed
Python
Excecution completed
Programming
Excecution completed
list index out of range
Excecution completed

In [118]:
def abc(a,b):
  try:
    c = a/b
  except Exception as e:
    print(e)
  else:
    print(c)

abc(10,0)
abc(1,2)

division by zero
0.5

In [120]:
# Raise an error

def zeroNotAllowed(a,b):
  if a==0 or b==0:
    raise ValueError("Zero are not allowed")
  else:
    print("Its Okay")

zeroNotAllowed(1,2)
zeroNotAllowed(5,0)

Its Okay

ValueError: Zero are not allowed

#Functions

##Built In Functions

In [128]:
lists = [10, 20, 30, 40, 50]

max(lists)
min(lists)

x = input("Enter something: ")
print(x)

Enter something: Machine Learning
Machine Learning

In [132]:
eval("2*3+4")

10

In [135]:
# To find ASCII value
ord("A")

65

In [137]:
print("This is a built in function in python")

This is a built in function in python

##User Defined Function

In [139]:
def sum(a,b):
  return a+b

sum(1,2)

3

In [142]:
def sumOfMany(*args):
  s = 0
  for i in args:
    s = s + i
  return s

sumOfMany(1, 2, 3, 4)

10

In [148]:
def hello(**kwargs):
  # kwargs is like a dictionary
  for key,value in kwargs.items():
    print(key,value)

hello(firstname="Machine", lastname="Learning")

firstname Machine
lastname Learning

#Class

In [152]:
# Defining a Class

class Car:

  def __init__(self, car_name, car_color):
    self.namecar  = car_name
    self.colorcar = car_color

  def engine(self, eng="1000 cc"):
    print(f"The car {self.namecar} whose color is {self.colorcar} has an engine of {eng}.")

In [155]:
# Instantiating  Objects for a Class
A = Car("IGNIS", "blue")
A.engine()

B = Car("GIMNI", "light green")
B.engine()

The car IGNIS whose color is blue has an engine of 1000 cc.
The car GIMNI whose color is light green has an engine of 1000 cc.

In [159]:
# Inheritance

class Innova(Car):

  def __init__(self, music_name, car_name, car_color):
    super().__init__(car_name, car_color)
    self.musicsystem = music_name


  def music_system(self):
    print(f"{self.namecar} has a music system named {self.musicsystem} with car color as {self.colorcar}.")

In [165]:
mycar = Innova("Dolby", "Innova Luxury", "Red")

mycar.music_system()
mycar.engine()

Innova Luxury has a music system named Dolby with car color as Red.
The car Innova Luxury whose color is Red has an engine of 1000 cc.